h1, h2, h3, h4 {
    margin: 0;
}
p {
    margin: 0;
}
img {
    border: 0;
}

.clear {
    clear: both;
}

body {
    background: #f2f2f2;
    font-size: 14px;
    margin: 0;
    min-width: 1200px;
    overflow-y: scroll;
    padding: 0;
    @include sans();
    @include box-sizing(border-box);

    .hidden {
        display: none !important;
    }

    a {
        color: $blue;
        text-decoration: none;

        &:visited {
            color: darken($blue, 4%);
        }
        &:hover {
            color: darken($blue, 12%);
            text-decoration: underline;
        }
    }

    div.navbar {
        height: 108px;
        padding: 0;
        border-bottom: 1px solid black;
        background: black url('/images/blur-bg.jpg') no-repeat center center;
        background-size: 100% auto;

        div.navbar-inner {
            width: 1100px;
            margin: 0 auto;
            height: 108px;
            position: relative;
        }

        img.logo {
            float: left;
            position: relative;
            z-index: 10;
        }

        form {
            float: left;
            height: 36px;
            margin: 0;
            position: absolute;
            top: 60px;
            right: 0;
            width: 274px;

            input {
                background: #707070 url('/images/search-icon.png') no-repeat 14px 7px;
                background-color: rgba(255, 255, 255, 0.3);
                border: 0;
                border-radius: 16px;
                color: #000;
                font-size: 14px;
                height: 20px;
                left: 0;
                line-height: 18px;
                outline: none;
                padding: 6px 10px 6px 40px;
                position: absolute;
                top: 2px;
                width: 224px;
                z-index: 10;
                @include placeholder {
                    color: black;
                }
                &.open {
                    border-radius: 16px 16px 0 0;
                    padding-bottom: 10px;
                }
                &:focus {
                    background-color: #707070;
                }
            }
            &.signed-in {
                top: 14px;
            }
        }

        nav.main {
            display: inline-block;
            float: right;
            height: 44px;
            margin: 60px 0 0 0;
            position: relative;
            right: 285px;
            text-align: right;
            width: 940px;

            &.signed-in {
                right: -20px;
            }

            >ul {
                list-style: none;
                margin: 0;
                padding: 0;

                >li {
                    display: inline-block;

                    >a.link {
                        border: 1px solid transparent;
                        border-radius: 4px;
                        color: white;
                        display: inline-block;
                        float: left;
                        height: 17px;
                        line-height: 17px;
                        margin-left: 4px;
                        padding: 9px 16px;
                        text-decoration: none;
                        text-shadow: 1px 1px 2px black;

                        span.medium {
                            color: #808080;
                            text-shadow: none;
                        }
                        span.dark {
                            color: black;
                            font-size: 16px;
                            font-weight: bold;
                            line-height: 14px;
                            overflow: visible;
                            text-shadow: none;
                        }

                        &.active, &:hover {
                            background: black;
                            background: rgba(95, 95, 95, 0.35);
                            border: 1px solid white;
                            border-color: black #5e5e5e #5e5e5e black;
                            color: white;
                            cursor: pointer;
                            span.dark {
                                color: white;
                            }
                        }
                    }

                    >a.sign-in {
                        background: url('/images/steam-openid-login-small.png') no-repeat center center;
                        display: inline-block;
                        float: left;
                        height: 23px;
                        margin: 0 20px 6px 0;
                        width: 154px;
                    }
                }
                li.account {
                    position: relative;
                    height: auto;

                    >a.link {
                        >span.name {
                            display: inline-block;
                            float: left;
                            margin-right: 6px;
                            max-width: 120px;
                            text-overflow: ellipsis;
                            overflow: hidden;
                            white-space: nowrap;
                            height: 20px;
                        }
                    }

                    ul {
                        background: #343434;
                        border: 1px solid #606060;
                        border-radius: 4px 0 4px 4px;
                        display: none;
                        list-style: none;
                        margin: 0;
                        padding: 10px;
                        position: absolute;
                        right: 0;
                        top: 36px;
                        width: 180px;
                        z-index: 2000;
                        @include linear-gradient(top, #535353 0%, #414141 100%);

                        li {
                            hr {
                                border: 0;
                                border-bottom: 1px solid #575757;
                            }
                            a {
                                border: 1px solid transparent;
                                border-radius: 3px;
                                display: block;
                                padding: 8px 10px;
                                text-decoration: none;
                                color: white;
                                &:hover {
                                    background: #2f2f2f;
                                    color: white;
                                    border: 1px solid white;
                                    border-color: #262626 #575757 #575757 #262626;
                                }
                                &.private-profile {
                                    color: orangered;
                                    text-align: center;
                                }
                            }
                        }
                    }
                    &:hover {
                        ul {
                            display: block;
                        }
                        >a {
                            background: black;
                            background: rgba(95, 95, 95, 0.35);
                            border: 1px solid white;
                            border-color: black #5e5e5e #5e5e5e black;
                            border-radius: 4px 4px 0 0;
                            cursor: default;
                            color: white;
                            position: relative;
                            z-index: 1999;
                            span.dark {
                                color: white;
                            }
                        }
                    }
                }
                li.left {
                    float: left;
                }
            }
        }
    }

    ul.dropdown-menu {
        border: 1px solid #606060;
        border-top: 0;
        list-style: none;
        margin: 0;
        padding: 10px;
        position: absolute;
        width: 252px;
        z-index: 2000;
        @include linear-gradient(top, #535353 0%, #414141 100%);

        li {
            a {
                display: block;
                text-decoration: none;
                padding: 8px 10px;
                color: white;
                border: 1px solid transparent;
                border-radius: 3px;
                strong {
                    color: $blue;
                }
            }
            &.active {
                a {
                    background: #2f2f2f;
                    color: white;
                    border-color: #262626 #575757 #575757 #262626;
                }
            }
        }
    }

    &.modal-open {
        overflow: hidden;
        margin-right: 13px;
    }
    .modal-backdrop {
        background-color: #000000;
        bottom: 0;
        filter: alpha(opacity=80);
        left: 0;
        opacity: 0.8;
        position: fixed;
        right: 0;
        top: 0;
        z-index: 1030;

        &.fade {
            opacity: 0;
            -webkit-transition: opacity 0.15s linear 0s;
               -moz-transition: opacity 0.15s linear 0s;
                -ms-transition: opacity 0.15s linear 0s;
                 -o-transition: opacity 0.15s linear 0s;
                    transition: opacity 0.15s linear 0s;
        }
        &.in {
            opacity: 0.8;
            filter: alpha(opacity=80);
        }
    }
    .modal {
        bottom: 0;
        left: 0;
        overflow: auto;
        overflow-x: auto;
        overflow-y: scroll;
        position: fixed;
        right: 0;
        top: 0;
        z-index: 1040;

        -webkit-border-radius: 6px;
           -moz-border-radius: 6px;
                border-radius: 6px;
        -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
           -moz-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
                box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
        -webkit-background-clip: padding-box;
           -moz-background-clip: padding-box;
                background-clip: padding-box;

        -webkit-transition: opacity 0.3s ease 0s;
           -moz-transition: opacity 0.3s ease 0s;
            -ms-transition: opacity 0.3s ease 0s;
             -o-transition: opacity 0.3s ease 0s;
                transition: opacity 0.3s ease 0s;

        &.fade {
            opacity: 0;

            .modal-dialog {
                -webkit-transform: translate(0, -25%);
                   -moz-transform: translate(0, -25%);
                        transform: translate(0, -25%);
            }
        }
        &.fade.in {
            opacity: 1;
            filter: alpha(opacity=100);

            .modal-dialog {
                -webkit-transform: translate(0, 0);
                   -moz-transform: translate(0, 0);
                        transform: translate(0, 0);
            }
        }
        .modal-dialog {
            left: 50%;
            right: auto;
            width: 300px;
            padding: 100px 10px;
            margin: 0 auto;

            -webkit-transition: -webkit-transform 0.3s ease 0s;
               -moz-transition: -moz-transform 0.3s ease 0s;
                -ms-transition: transform 0.3s ease 0s;
                 -o-transition: transform 0.3s ease 0s;
                    transition: transform 0.3s ease 0s;
        }

        .modal-header {
            padding: 9px 15px;
            border-bottom: 1px solid #eee;
            text-align: left;
            background-color: #f5f5f5;
            border-bottom: 1px solid #ddd;
            -webkit-border-radius: 6px 6px 0 0;
               -moz-border-radius: 6px 6px 0 0;
                    border-radius: 6px 6px 0 0;

            h4 {
                font-size: 20px;
                font-weight: 300;
            }

            .close {
                background: transparent;
                border: 0;
                color: black;
                cursor: pointer;
                filter: alpha(opacity=20);
                float: right;
                font-size: 21px;
                font-weight: bold;
                line-height: 20px;
                margin-top: 2px;
                opacity: 0.2;
                padding: 0;
                &:hover {
                    opacity: 0.8;
                    filter: alpha(opacity=80);
                }
            }
        }
        .modal-body {
            padding: 15px;
        }
        .modal-footer {
            padding: 14px 15px;
            margin-bottom: 0;
            text-align: left;
            background-color: #f5f5f5;
            border-top: 1px solid #ddd;
            -webkit-border-radius: 0 0 6px 6px;
               -moz-border-radius: 0 0 6px 6px;
                    border-radius: 0 0 6px 6px;
            -webkit-box-shadow: inset 0 1px 0 #ffffff;
               -moz-box-shadow: inset 0 1px 0 #ffffff;
                    box-shadow: inset 0 1px 0 #ffffff;
            &:before,
            &:after {
                display: table;
                content: "";
            }
            &:after {
                clear: both;
            }

            button {
                background: #e0e0e0;
                border: 1px solid #d0d0d0;
                border-radius: 4px;
                color: #303030;
                cursor: pointer;
                font-size: 14px;
                padding: 5px 10px;

                &:hover {
                    background: black;
                    border-color: black;
                    color: white;
                }

                &.primary {
                    color: white;
                    background: $blue;
                    border-color: darken($blue, 5%);
                    margin-right: 10px;
                    white-space: nowrap;

                    &.inactive {
                        background: #e0e0e0;
                        border: 1px solid #d0d0d0;
                        color: #303030;
                    }

                    &:hover {
                        background: black;
                        border-color: black;
                        color: white;
                    }
                }
            } 
        }
        .modal-content {
            background-color: #fff;
            border: 1px solid #999;
            border: 1px solid rgba(0, 0, 0, 0.3);
            border-radius: 6px;
            outline: none;
            position: relative; 
        }
    }
    div.tooltip,
    div.popover {
        display: block;
        font-size: 14px;
        padding: 5px;
        position: absolute;
        z-index: 520;
        opacity: 0;
        filter: alpha(opacity=0);
        visibility: visible;

        &.fade {
            opacity: 0;
            -webkit-transition: opacity 0.15s linear;
               -moz-transition: opacity 0.15s linear;
                -ms-transition: opacity 0.15s linear;
                 -o-transition: opacity 0.15s linear;
                    transition: opacity 0.15s linear;
        }
        &.in {
            opacity: 1;
            filter: alpha(opacity=100);
        }
    
        &.top {
            margin-top: -2px;

            .tooltip-arrow,
            .arrow {
                bottom: 0;
                left: 50%;
                margin-left: -5px;
                border-top: 5px solid $blue;
                border-right: 5px solid transparent;
                border-left: 5px solid transparent;
            }
        }
        &.right {
            margin-left: 2px;

            .tooltip-arrow,
            .arrow { 
                top: 50%;
                left: 0;
                margin-top: -5px;
                border-top: 5px solid transparent;
                border-right: 5px solid $blue;
                border-bottom: 5px solid transparent;
            }
        }
        &.bottom {
            margin-top: 2px;

            .tooltip-arrow,
            .arrow { 
                top: 0;
                left: 50%;
                margin-left: -5px;
                border-right: 5px solid transparent;
                border-bottom: 5px solid $blue;
                border-left: 5px solid transparent;
            }
        }
        &.left {
            margin-left: -2px;

            .tooltip-arrow,
            .arrow {
                top: 50%;
                right: 0;
                margin-top: -5px;
                border-top: 5px solid transparent;
                border-bottom: 5px solid transparent;
                border-left: 5px solid $blue;
            }
        }
        .tooltip-arrow,
        .arrow {
            position: absolute;
            width: 0;
            height: 0;
        }
        .tooltip-inner,
        .popover-inner {
            background: $blue;
            color: #ffffff;
            max-width: 320px;
            padding: 8px 10px;
            text-align: center;
            text-decoration: none;
            box-shadow: 2px 2px 3px 1px rgba(0, 0, 0, 0.25);
            -webkit-border-radius: 4px;
               -moz-border-radius: 4px;
                    border-radius: 4px;
        }
    }
    div.tooltip {
        z-indeX: 1500;
    }
}

div.header {
    @include linear-gradient(top, #cccccc 0%, #e9e9e9 100%); 
    border-bottom: 1px solid #d0d0d0;
    border-top: 1px solid #ffffff;
    box-shadow: inset 0px -5px 5px -2px rgba(0, 0, 0, 0.03);
    width: 100%;

    >div.inner {
        width: 1100px;
        padding: 0;
        margin: 0 auto;
    }

    div.title {
        overflow: auto;

        h1 {
            font-size: 32px;
            font-family: 'Lato', sans-serif;
            font-weight: 300;
            color: #3f6071;
            float: left;
            margin: 0;
        }

        p.instructions {
            color: #303030;
            float: right;
            font-weight: 300;
            height: 20px;
            line-height: 20px;
            margin-top: 4px;
            text-align: right;
            strong {
                font-weight: bold;
            }
        }
        
        p.data {
            font-size: 13px;
            color: #909090; 
            text-align: right;
            height: 18px;
            overflow: visible;
            margin: -3px 0 0 0;
        }
    }
}

div.container {
    background: white;
    width: 100%;

    >div.inner {
        width: 1100px;
        margin: 0 auto;
        padding: 0;

        table {
            border-collapse: collapse;
        }
        hr {
            clear: both;
            border: 0;
            border-bottom: 1px solid #e0e0e0;
            margin: 20px 0;
        }
    }
}

div.footer {
    background: #f2f2f2;
    border-top: 1px solid #e0e0e0;
    overflow: auto;

    footer {
        color: #909090;
        font-size: 13px;
        margin: 0 auto;
        padding: 20px 0 60px 0;
        width: 1100px;

        h5 {
            font-size: 18px;
            font-family: 'Lato', sans-serif;
            font-weight: 300;
            color: #3f6071;
            margin: 20px 0 12px 0;
        }

        ul {
            list-style: none;
            overflow: auto;
            padding: 0;
            margin: 0;

            li {
                float: left;
                width: 225px;

                &.notice {
                    width: 425px;
                    text-align: right;
                    margin-top: 20px;

                    p:nth-of-type(1) {
                        margin-bottom: 12px;
                    }
                }
            }
        }
    }
}

table {
    width: 100%;
}
thead {
    tr {
        border-bottom: 1px solid #e0e0e0;
    }
    th {
        color: #909090;
        cursor: default;
        font-weight: 400;
        padding: 20px 0;
        vertical-align: bottom;
        white-space: nowrap;
        @include user-select(none);

        >a {
            color: #303030;
            cursor: pointer;
            font-weight: 400;
            padding: 6px 12px 0 0;            
            @include user-select(none);

            &:hover {
                background: url(/images/sort-descending.png) no-repeat right bottom;
                color: black;
                text-decoration: none;
                &.sort-reverse-initial {
                    background: url(/images/sort-ascending.png) no-repeat right bottom;
                }
            }
            &.sort-descending {
                color: black;
                background: url(/images/sort-descending.png) no-repeat right bottom;
                font-weight: bold;
                &.sort-reverse-initial {
                    background: url(/images/sort-descending.png) no-repeat right bottom;
                }
            }
            &.sort-ascending {
                color: black;
                background: url(/images/sort-ascending.png) no-repeat right bottom;
                font-weight: bold;
                &.sort-reverse-initial {
                    background: url(/images/sort-ascending.png) no-repeat right bottom;
                }
            }
        }
    }
}
tfoot {
    color: black;
    td {
        padding: 10px;
        font-weight: bold;
        &.center {
            text-align: center;
        }
    }
}

@mixin inactive-rating-bar {
    /* Rating bars that cannot be modified are styled with this */
    div.rating {
        display: inline-block;
        cursor: default;

        /* Active state has to be lower priority in the cascade. */
        div.rating-5 {
            &.active {
                a.rating-5 {
                    span {
                        background-position: left bottom;
                    }
                }
            }
        }
        div.rating-4 {
            &.active {
                a.rating-4 {
                    span {
                        background-position: -75px bottom;
                    }
                }
            }
        }
        div.rating-3 {
            &.active {
                a.rating-3 {
                    span {
                        background-position: -50px bottom;
                    }
                }
            }
        }
        div.rating-2 {
            &.active {
                a.rating-2 {
                    span {
                        background-position: -25px bottom;
                    }
                }
            }
        }
        div.rating-1 {
            &.active {
                a.rating-1 {
                    span {
                        background-position: 0px bottom;
                    }
                }
            }
        }

        div.rating-5,
        div.rating-4,
        div.rating-3,
        div.rating-2,
        div.rating-1 {
            display: inline;
        }

        a.rating-1,
        a.rating-2,
        a.rating-3,
        a.rating-4,
        a.rating-5 {
            background-image: url('/images/rating-icons-stars.png');
            background-repeat: no-repeat;
            background-color: transparent;
            display: inline-block;
            font-family: Helvetica;
            height: 23px;
            line-height: 32px;
            margin: 6px 0 0;
            position: relative;
            text-decoration: none;
            width: 25px;

            span {
                background-color: transparent;
                background-image: url('/images/rating-icons-stars.png');
                background-repeat: no-repeat;
                background-position: right -23px;
                display: inline-block;
                height: 23px;
                left: 0;
                line-height: 32px;
                overflow: hidden;
                position: absolute;
                top: 0;
                width: 25px;
            }
        }
        a.rating-5 {
            background-position: right -23px;
        }
        a.rating-4 {
            background-position: -75px -23px; 
        }
        a.rating-3 {
            background-position: -50px -23px;
        }
        a.rating-2 {
            background-position: -25px -23px;
        }
        a.rating-1 {
            background-position: 0px -23px;
        }
    }
}

@mixin active-rating-bar {
    /* Rating bars that can be modified are styled with this. */

    div.rating {
        display: inline-block;
        cursor: default;

        /* Active state has to be lower priority in the cascade. */
        div.rating-5 {
            &.active {
                a.rating-5 {
                    background-position: right top;
                }
            }
        }
        div.rating-4 {
            &.active {
                a.rating-4 {
                    background-position: -75px top;
                }
            }
        }
        div.rating-3 {
            &.active {
                a.rating-3 {
                    background-position: -50px top;
                }
            }
        }
        div.rating-2 {
            &.active {
                a.rating-2 {
                    background-position: -25px top;
                }
            }
        }
        div.rating-1 {
            &.active {
                a.rating-1 {
                    background-position: 0px top;
                }
            }
        }

        /* When hovering, default all stars to unfilled. */ 
        div.rating-5,
        div.rating-4,
        div.rating-3,
        div.rating-2,
        div.rating-1 {
            display: inline;

            &:hover {
                a.rating-1 {
                    background-position: 0px -23px;
                }
                a.rating-2 {
                    background-position: -25px -23px;
                }
                a.rating-3 {
                    background-position: -50px -23px;
                }
                a.rating-4 {
                    background-position: -75px -23px;
                }
                a.rating-5 {
                    background-position: right -23px;
                }
            }
        }

        /* Depending on where the mouse is, fill stars in */
        div.rating-5 {
            &:hover {
                a.rating-5 {
                    background-position: right top;
                }
            }
        }
        div.rating-4 {
            &:hover {
                a.rating-4 {
                    background-position: -75px top;
                }
            }
        }
        div.rating-3 {
            &:hover {
                a.rating-3 {
                    background-position: -50px top;
                }
            }
        }
        div.rating-2 {
            &:hover {
                a.rating-2 {
                    background-position: -25px top;
                }
            }
        }
        div.rating-1 {
            &:hover {
                a.rating-1 {
                    background-position: 0px top;
                }
            }
        }

        a.rating-1,
        a.rating-2,
        a.rating-3,
        a.rating-4,
        a.rating-5 {
            background-image: url('/images/rating-icons-stars.png');
            background-repeat: no-repeat;
            background-color: transparent;
            cursor: pointer;
            display: inline-block;
            height: 23px;
            line-height: 32px;
            margin: 6px 0 0; 
            position: relative;
            text-decoration: none;
            width: 25px;

            em {
                color: #c0c0c0;
                position: absolute;
                left: 0;
                top: 0;
                height: 32px;
                width: 25px;
                line-height: 32px;
                font-style: normal;
            }

            span {
                display: none;
                position: absolute;
                left: 0;
                top: 0;
                height: 32px;
                width: 25px;
                line-height: 32px;
            }
        }
        a.rating-5 {
            background-position: right -23px;
        }
        a.rating-4 {
            background-position: -75px -23px; 
        }
        a.rating-3 {
            background-position: -50px -23px;
        }
        a.rating-2 {
            background-position: -25px -23px;
        }
        a.rating-1 {
            background-position: 0px -23px;
        }
    }
}

@mixin dropdown-menu {
    .dropdown {
        display: inline-block;
        position: relative;
        text-align: left;

        .hidden {
            display: none !important;
            height: 0;
            overflow: hidden;
        }

        >.primary {
            background: #f0f0f0;
            border: 1px solid #e0e0e0;
            border-radius: 3px;
            color: #505050;
            cursor: default;
            display: block;
            font-size: 13px;
            height: 20px;
            line-height: 20px;
            padding: 1px 7px;
            white-space: nowrap;

            span {
                float: left;
            }
            em {
                float: right;
                font-style: normal;
                margin-left: 6px;
            }
        }
        >.options {
            background: $blue;
            box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.6);
            display: none;
            font-size: 13px;
            left: 0;
            position: absolute;
            top: 24px;
            width: 148px;
            z-index: 100;

            hr {
                margin: 4px 6px;
                border-color: rgba(255, 255, 255, 0.4);
            }

            a {
                color: white;
                cursor: pointer;
                display: block;
                overflow: auto;
                overflow: hidden;
                padding: 8px 12px;
                text-overflow: ellipsis;
                white-space: nowrap;
                width: 124px; 

                >span {
                    float: left;
                }
                >em {
                    float: right;
                    font-style: normal;
                }

                &:hover, &:focus {
                    background: shade($blue, 40%);
                    color: white;
                    text-decoration: none;
                }
                &.disabled {
                    background: darken($blue, 20%);
                    cursor: default;
                }
            }
            >.sub-dropdown {
                color: white;
                display: block;
                position: relative;
                width: 148px;

                >.use {
                    background: rgba(128, 128, 128, 0.005);
                    bottom: -64px;
                    display: none;
                    height: 64px;
                    position: absolute;
                    right: 0;
                    width: 32px;
                    z-index: 10;
                }
                >.primary {
                    color: white;
                    cursor: default;
                    display: block;
                    overflow: visible;
                    padding: 8px 12px;
                    white-space: nowrap;
                    width: 124px;

                    >span {
                        width: 100px;
                        text-overflow: ellipsis;
                        overflow: hidden;
                        display: inline-block;
                        float: left;
                    }
                    >em {
                        float: right;
                        font-style: normal;
                    }
                }
                >.options {
                    background: shade($blue, 30%);
                    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.6);
                    display: none;
                    left: 148px;
                    position: absolute;
                    top: 0;
                    width: 168px;
                    a {
                        width: 144px;
                        &:hover {
                            background: shade($blue, 60%);
                        }
                    }
                }
                &:hover, &:focus {
                    >.primary {
                        background: shade($blue, 30%);
                    }
                    >.options {
                        display: block;
                    }
                    >.use {
                        display: block;
                    }
                }
            }
        }

        &:hover {
            >.primary {
                background: $blue;
                border-color: $blue;
                color: white;
                border-radius: 3px 3px 0 0;
                text-decoration: none;
                box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.6);
            }
            >.options {
                display: block;
            }
        }
    }
} 

article.error {
    padding: 200px 0;
    text-align: center;

    h1 {
        font-size: 26px;
        margin: 0 0 10px;
    }
}

span.ruble-sign {
    // Until the new ruble unicode works, hack it into the site via an image.
    background: url('/images/region-ru/ruble.png') no-repeat center center;
    color: transparent !important;
    display: inline-block;
    height: 20px;
    width: 16px;
}
.popup,
.tooltip {
    span.ruble-sign {
        background: url('/images/region-ru/ruble-white.png') no-repeat center center;
    }
}
