div.header {
    article.predictions {
        padding: 20px 0;
        overflow: auto;

        div.title {
            p.action {
                text-align: right;
                font-size: 13px;
                height: 18px;
                overflow: visible;

                #last-updated-wrapper {
                    float: right;
                    color: #909090;
                }
                span.update-predictions {
                    margin-left: 6px;
                }
                #update-predictions-loader {
                    float: right;
                }
            }
        }
    }
}

div.container {
    article.predictions {
        padding: 20px 0 40px;
        overflow: visible;
    }
}

article.predictions {
    h2 {
        color: #303030;
        display: block;
        font-size: 18px;
        font-weight: 400;
        margin: 0 0 15px !important;
        span {
            font-weight: 600;
            color: black;
        }
    }

    div.register {
        background: url('/images/vertical-dots.png') no-repeat center 50px transparent;
        clear: both; 
        overflow: auto;
        padding: 216px 0 100px;

        h2 {
            font-family: 'Oswald';
            font-size: 30px;
            margin: 0 0 10px 0;
            text-align: center;
            width: 100%;
        }
        a {
            @include button(simple, #799b10);
            display: block;
            font-size: 14px;
            margin: 0 auto 40px auto;
            text-align: center;
            width: 152px;
        }
    }

    ul.prediction-list {
        list-style: none;
        margin: 0;
        padding: 0;
        border-top: 1px solid #e0e0e0;

        h3 {
            @include game-title();
            float: left;
            font-size: 16.5px;
            font-weight: normal;
            margin-top: -4px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            width: 194px;
        }
        h4 {
            display: inline-block;
            font-size: 14px;
            font-weight: normal;
            margin: 4px 0;

            del {
                color: #909090;
                margin-left: 6px;
            }
            em {
                color: white;
                font-style: normal;
                background: #3f6071;
                padding: 3px 6px;
                border-radius: 4px;
                margin-left: 8px;
            }
        }
        h5 {
            color: #909090;
            font-size: 14px;
            font-weight: normal;
            margin: 0;
            line-height: 18px;
            height: 36px;
            width: 194px;
            overflow: hidden;
        }

        li {
            a {
                text-decoration: none;
                color: black;
                padding: 15px 0;
                border-bottom: 1px solid #e0e0e0;
                display: block;
                overflow: visible;
                position: relative;

                img {
                    display: inline;
                    float: left;
                    margin-right: 12px;
                    border: 1px solid #909090;
                }
                div.on-sale-overlay {
                    background: url('/images/on-sale-overlay.png');
                    display: block;
                    height: 36px;
                    left: -5px;
                    position: absolute;
                    top: 10px;
                    width: 36px;
                    z-index: 10;
                }
                p.cph {
                    border-radius: 4px;
                    color: $green;
                    display: inline-block;
                    float: right;
                    font-family: 'Lato', sans-serif;
                    font-size: 52px;
                    font-weight: 300;
                    height: 62px;
                    line-height: 30px;
                    margin-left: 12px;
                    padding: 22px 0 0 0;
                    text-align: center;
                    width: 130px;
                    span {
                        display: block;
                        font-size: 16px;
                    }
                }
                &:hover {
                    p.cph {
                        @include linear-gradient(top, #83a128 0%, $green 90%);
                        color: white;
                    }
                }
            }
        }
        li.pay-wall {
            a {
                img {
                    border: 0;
                    margin: 0;
                }

                div.premium-overlay {
                    @include linear-gradient(top, #83a128 0%, $green 90%);
                    border-radius: 4px;
                    box-shadow: 0 0 20px 16px white;
                    color: white;
                    display: none;
                    font-size: 14px;
                    font-weight: 600;
                    left: 170px;
                    padding: 8px 16px;
                    position: absolute;
                    top: 40px;
                }

                &:hover {
                    div.premium-overlay {
                        display: block;
                    }
                    div.inner {
                        opacity: 0.4;
                    }
                    div.on-sale-overlay {
                        opacity: 0.75;
                    }
                    p.cph {
                        background: white;
                        color: $green;
                        opacity: 0.75;
                    }
                }
            }
        }
        div.tooltip {
            width: 509px;
            margin-left: -10px;
            .tooltip-inner {
                box-shadow: 0 -10px 16px 10px white;
                width: 509px;
                max-width: 509px;
                span {
                    white-space: nowrap;
                }
            }
        }
    }

    div.left-column {
        float: left;
        border-right: 1px solid #e0e0e0;
        padding: 0 20px 0 0;  
        width: 529px;
    }
    div.right-column {
        float: left; 
        width: 529px;
        padding: 0 0 0 20px;
    }
}
