<footer>
    <ul>
        <li>
            <h5>Learn</h5>
            <p><a href="/faq/">FAQ / Help</a></p>
            <p><a href="http://blog.gaugepowered.com/">Blog</a></p>
        </li>

        <li>
            <h5>Follow</h2>
            <p><a href="https://twitter.com/gaugepowered" target="_blank">via Twitter</a></p>
            <p><a href="https://www.facebook.com/gaugepowered" target="_blank">via Facebook</a></p>
        </li>

        <li>
            <h5>Legal</h5>
            <p><a href="/privacy-policy/">Privacy Policy</a></p>
            <p><a href="/terms-of-service/">Terms of Service</a></p>
        </li>

        <li class="notice">
            <p>Site by&nbsp;<a href="http://www.structuredabstraction.com" target="_blank">Structured Abstraction</a></p>
            <p><a href="http://steampowered.com">Steam</a>&nbsp;is a registered trademark of the&nbsp;<a href="http://www.valvesoftware.com/">Valve Corporation</a></p>
            <p>All other trademarks are property of their respective owners</p>
            <p><a href="http://steampowered.com">Powered by Steam</a></p>
        </li>
    </ul>
</footer>
