{% extends "gamestradamus/base.html" %}

{% block title %}Terms of Service{% endblock %}
{% block description %}You must agree to these terms before you use Gauge.{% endblock %}

{% block header %}
    <article class="terms">
        <div class="title">
            <h1>Terms of Service</h1>
            <p class="data"></p>
            <p class="instructions">
                <strong>Last modified:</strong>&nbsp;April 28th, 2014
            </p>
        </div>
    </article>
{% endblock %}

{% block container %}
    <article class="terms">
        <p>
            This agreement governs your use of the gaugepowered.com website. Access and use
            of this website is provided by Structured Abstraction Inc. ("STRABS") to you on condition
            that you accept these Terms of Service, and by accessing or using this website,
            you agree to these Terms of Service. If you do not agree to accept and abide
            by these Terms of Service you should not access or use this website. STRABS
            may revise and update these Terms of Service at anytime and without notice. You
            are cautioned to review the Terms of Service posted on the website periodically.
            Your continued access or use of this website after any such changes are posted
            will constitute your acceptance of these changes.
        </p>

        <h2>Use of the Website</h2>
        <p>
            This website and its contents are intended for customers of STRABS. You may not
            use this website or the content for any purpose not related to your business with
            STRABS. You are specifically prohibited from: (a) downloading, copying, or 
            re-transmitting any or all of the website or the content without, or in 
            violation of, a written license or agreement with STRABS; (b) using any data 
            mining, robots, or similar data gathering or extraction methods; (c) manipulating
            or otherwise displaying the website or the content by using framing or similar
            navigational technology; (d) registering, subscribing, unsubscribing, or
            attempting to regiser, subscribe, or unsubscribe any party for any STRABS 
            product or service if you are not expressly authorized by such party to do so; 
            and (e) using the website or the content other than for its intended purpose.
        </p>
        <p>
            You may not interfere with the security of, or otherwise abuse this website or
            any system resources, services, or networks connected to or accessible through
            this website. You may only use this website for lawful purposes.
        </p>

        <h2>Privacy</h2>
        <p>
            STRABS is committed to respecting the privacy of the personal information of
            the individuals with whom we interact. We have developed a Privacy Policy to
            describe our privacy policies and practices and how we collect, use, and disclose
            the personal information of those individuals who visit our website. Please
            see our&nbsp;<a href="/privacy-policy/">Privacy Policy</a>&nbsp;for further details.
        </p>

        <h2>Accuracy of Website</h2>
        <p>
            STRABS updates the information on this website regularly. However, STRABS cannot 
            guarantee or accept any responsibility or liability for the accuracy, currency,
            or completeness of the information on this website. STRABS may revise, supplement, 
            or delete information, services and/or the resources contained in the website 
            and reserves the right to make such changes without prior notification to past,
            current or prospective visitors.
        </p>

        <h2>Linked Websites</h2>
        <p>
            This website may provide links to third party websites for your convenience only.
            The inclusion of these links does not imply that STRABS monitors or endorses 
            these websites. STRABS does not accept any responsibility for such websites.
            STRABS shall not be responsible or liable, directly or indirectly, for any
            damage or loss, caused or alleged to be caused by or in connection with the use
            of or the reliance upon any information, content, goods or services available
            on or through any third party website or linked resources.
        </p>

        <h2>Website and Materials Provided "As Is"</h2>
        <p>
            THIS WEBSITE AND THE MATERIALS ARE PROVIDED "AS IS" WITHOUT REPRESENTATION,
            WARRANTY OR CONDITION OF ANY KIND, EITHER EXPRESS OR IMPLIED, INCLUDING, BUT
            NOT LIMITED TO THE IMPLIED REPRESENTATIONS, WARRANTIES OR CONDITIONS OF 
            MERCHANTABILITY, OR FITNESS FOR A PARTICULAR PURPOSE. STRABS DOES NOT REPRESENT
            OR WARRANT THAT THIS WEBSITE OR THE MATERIALS WILL MEET YOUR REQUIREMENTS OR
            THAT THEIR USE WILL BE UNINTERRUPTED OR ERROR FREE.
        </p>

        <h2>Limitation of Liability</h2>
        <p>
            YOU ASSUME ALL RESPONSIBILITY AND RISK FOR USE OF THIS WEBSITE AND THE MATERIALS
            INCLUDING WITHOUT LIMITATION ANY OF THE INFORMATION CONTAINED THEREIN.
        </p>
        <p>
            IN NO EVENT SHALL STRABS OR ANY OF ITS DIRECTORS, OFFICERS, EMPLOYEES,
            SHAREHOLDERS, PARTNERS, OR AGENTS BE LIABLE FOR ANY INCIDENTAL, INDIRECT,
            PUNITIVE, EXEMPLARY, OR CONSEQUENTIAL DAMAGES WHATSOEVER (INCLUDING DAMAGES FOR
            LOSS OF PROFITS, INTERRUPTION, LOSS OF BUSINESS INFORMATION, OR ANY OTHER
            PECUNIARY LOSS) IN CONNECTION WITH ANY CLAIM, LOSS, DAMAGE, ACTION, SUIT OR
            OTHER PRECEEDING ARISING UNDER OR OUT OF THESE TERMS OF SERVICE, OR EXPLOITATION
            OF THIS WEBSITE, THE MATERIALS OR ANY PART THEREOF, OR ANY RIGHTS GRANTED TO YOU
            HEREUNDER, EVEN IF WE HAVE BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES,
            WHETHER THE ACTION IS BASED ON CONTRACT, TORT (INCLUDING NEGLIGENCE), INFRINGMENT
            OF INTELLECTUAL PROPERTY RIGHTS OR OTHERWISE.
        </p>
        <p>
            IN ANY EVENT, THE TOTAL MAXIMUM AGGREGATE LIABILITY UNDER THESE TERMS OF SERVICE
            OR THE USE OR EXPLOITATION OF ANY OR ALL PART OF THIS WEBSITE OR THE MATERIALS
            IN ANY MANNER WHATSOEVER SHALL BE LIMITED TO FIVE ($5.00) CANADIAN DOLLARS.
        </p>
        <p>
            SOME JURISDICTIONS DO NOT ALLOW FOR THE LIMITATION OR EXCLUSION OF LIABILITY
            FOR INCIDENTAL OR CONSEQUENTIAL DAMAGES, SO THE ABOVE LIMITATION OR EXCLUSION
            MAY NOT APPLY TO YOU.
        </p>

        <h2>Idemnification</h2>
        <p>
            You agree to idemnify and hold STRABS harmless against all claims or liability
            asserted against STRABS arising out of or in connection with any breach by you 
            or anyone acting on your behalf of any of these Terms of Service.
        </p>        

        <h2>Applicable Law</h2>
        <p>
            This website is controlled, operated and administered by STRABS from within the
            Province of Alberta, Canada. This website can be accessed from all provinces and
            territories of Canada, as well as from other countries around the world. As each 
            of these jurisdictions has laws that may differ
            from those of the Province of Alberta, by accessing the website, you acknowledge
            and agree that all matters relating to access to, or use of this website shall
            be governed by the laws of the Province of Alberta and the federal laws of Canada
            applicable therein (without reference to conflicts of laws principles).
        </p>
        <p>
            You also agree that any claims or disputes whatsoever arising hereunder shall be
            submitted to the exclusive jurisdiction and venue of the cours of the Province
            of Alberta and acknowledge that you do so voluntarily.
        </p>

        <h2>General</h2>
        <p>
            STRABS' failure to insist upon or enforce strict performance of any provision of
            these Terms of Service shall not be construed as a waiver of any provision or right.
        </p>
        <p>
            If any provision or part thereof of these Terms of Service is wholly or partially
            unenforceable the parties or, in the event the parties are unable to agree, a court
            of competent jurisdiction, shall put in place thereof an enforceable provision
            or provisions, or part thereof, that as nearly as possible reflects the terms of
            the unenforceable provision or part thereof.
        </p>
        <p>    
            The parties have requested that these Terms of Service and all documents relating
            thereto be drawn up in English.
        </p>

        <h2 id="refunds">Refunds</h2>
        <p>There are no refunds on puchases made through this website. Under no circumstances
            shall STRABS be required to refund or exchange any purchase made through this website. 
        </p>

        <h2>Contact</h2>
        <p>
            If you have concerns relating to this website or these Terms of Service, please
            contact STRABS at&nbsp;<a href="mailto:admin@gaugepowered.com">admin@gaugepowered.com</a>
        </p>
    </article>
{% endblock %}
