{% extends "gamestradamus/base.html" %}
{% import 'gamestradamus/numbers.html' as numbers %}
{% block title %}Your Playlist{% endblock %}

{% block playlist_nav_class %}active{% endblock %}

{% block header %}
    <article class="your-play-list">
        <div class="title">
            <p class="message">
                <strong>Give us feedback!</strong><br>
                Have a suggestion on how to make this tool better?<br>Let us know what you think, or join discussions on our&nbsp;<a href="http://steamcommunity.com/groups/gauge-powered">forums</a><br>
            </p>
            <h1>Your Playlist</h1>
            <p class="instructions">Just unfinished games, use it to decide what to play next.</p>
        </div>
    </article>
{% endblock %}

{% block container %}
<article class="your-play-list">
    {% include "gamestradamus/fragment/tags/modal.html" %}

    <div id="empty-play-list" class="{% if results %}hidden{% endif %}">
        <strong>Your Playlist is empty.</strong>
        <p>You've finished everything?</p>
        <p>Look for something new&nbsp;<a href="/profile/browse/">here</a>.</p>
    </div>

    <table id="play-list" class="{% if not results %}hidden{% endif %}">
    <thead>
        <tr>
            <th id="filter-column-header">
                {% include "gamestradamus/fragment/tags/dropdown.html" %}
            </th>
            <th id="name-column-header">
                <a class="sort-reverse-initial">Game / Genre</a>
            </th>
            <th>Play</th>
            <th id="cost-column-header"><span>Your</span><br><a>Cost</a></th>
            <th id="hours-column-header"><span>Actual</span><br><a>Hours</a></th>
            <th id="estimated-hours-column-header"><span>Estimated</span><br><a>Hours</a></th>
            <th id="rating-column-header"><span>Community</span><br><a class="sort-descending">Rating</a></th>
            <th>Finish</th>
        </tr>
        <tr id="filter-list">
            <th colspan="8">
                <div class="rollup">
                    <span class="label">Active:</span>
                    {% include "gamestradamus/fragment/tags/filter-list.html" %}
                </div>
            </th>
        </tr>
    </thead>
    <tfoot>
        <tr>
            <td colspan="3">
            <td class="cost">&nbsp;</td>
            <td class="hours">&nbsp;</td>
            <td class="estimated hours">&nbsp;</td>
            <td colspan="2"></td>
        </tr>
    </tfoot>
    <tbody>
    {% for user_account_game, game in results %}
        {% if game.canonical_game_id %}
            {% set canonical_game = game.Game() %}
            {% set genre = canonical_game.genre %}
            {% set median_hours_played = canonical_game.median_hours_played|default(0, True) %}
            {% set rating = canonical_game.community_rating|default(0, True) %}
        {% else %}
            {% set genre = game.genre %}
            {% set median_hours_played = game.median_hours_played|default(0, True) %}
            {% set rating = game.community_rating|default(0, True) %}
        {% endif %}

        <tr class="game {{ loop.cycle("odd", "") }}" data-user-account-game-id="{{ user_account_game.id }}">
            <td class="position left-edge"><div>{{ loop.index }}</div></td>
            <td class="name">
                <a class="game" href="/profile/game/{{ game.id }}/">
                    <img 
                        {% if game.logo %}
                            src="{{ game.logo }}"
                        {% else %}
                            src="{{ request.config['gauge.steam_cdn'] }}{{ game.app_id }}/capsule_sm_120.jpg"
                        {% endif %}
                        width="96" height="36">
                    <h4 class="name">{{ game.name }}</h4>
                </a><br>
                <div class="tools">
                    {% if genre %}
                        <div class="genre">
                            {{ genre }}
                        </div>
                    {% endif %}
                    <div class="tag-list">
                        {% if user_account_game.tags %}
                            {% for tag in user_account_game.tags.split('|') %}
                                <a
                                    class="tag color-{{ color_hash(tag|tag_group|default('', True)) }}"
                                    data-tag-name="{{ tag }}"
                                    title="{{ tag }}"
                                >
                                    {{ tag|tag_name }}
                                </a>
                            {% endfor %}
                        {% endif %}
                    </div>
                    <a class="edit-tags" data-game-name="{{ game.name }}" data-tags="{{ user_account_game.tags|default('', True) }}" data-user-account-game-id="{{ user_account_game.id }}" title="Edit Tags">&nbsp;</a>
                </div>
            </td>
            <td class="play">
                <a href="steam://run/{{ game.app_id }}" title="Launch '{{ game.name }}'">Play</a>
            </td>
            <td class="cost" data-cost="{{ "%.2f"|format(user_account_game.dollars_paid|default(0, True)) }}">
                {{ numbers.format_price_with_symbol(region, user_account_game.dollars_paid) }}
            </td>
            <td class="hours" data-hours="{{ "%.1f"|format(user_account_game.hours_played) }}">
                {{ numbers.format_hours(region, user_account_game.hours_played) }}
            </td>
            <td class="community hours" data-hours="{{ "%.1f"|format(median_hours_played) }}">
                {{ numbers.format_hours(region, median_hours_played) }}
            </td>
            <td class="community-rating">
                <div class="rating" data-rating="{{ "%.1f"|format(rating) }}">

                    <div class="rating-1{% if rating > 0 %} active{% endif %}">
                        <a class="rating-1" title="{{ region.numbers.format_rating(rating) }} / {{ region.numbers.format_rating(5.0) }}"><span {% if rating < 1 %}style="width: {{ (25 * rating)|round|int }}px;"{% endif %}></span></a>

                        <div class="rating-2{% if rating > 1 %} active{% endif %}">
                            <a class="rating-2" title="{{ region.numbers.format_rating(rating) }} / {{ region.numbers.format_rating(5.0) }}"><span {% if rating < 2 %}style="width: {{ (25 * (rating - 1))|round|int }}px;"{% endif %}></span></a>

                            <div class="rating-3{% if rating > 2 %} active{% endif %}">
                                <a class="rating-3" title="{{ region.numbers.format_rating(rating) }} / {{ region.numbers.format_rating(5.0) }}"><span {% if rating < 3 %}style="width: {{ (25 * (rating - 2))|round|int }}px;"{% endif %}></span></a>

                                <div class="rating-4{% if rating > 3 %} active{% endif %}">
                                    <a class="rating-4" title="{{ region.numbers.format_rating(rating) }} / {{ region.numbers.format_rating(5.0) }}"><span {% if rating < 4 %}style="width: {{ (25 * (rating - 3))|round|int }}px;"{% endif %}></span></a>

                                    <div class="rating-5 {% if rating > 4 %} active{% endif %}">
                                        <a class="rating-5" title="{{ region.numbers.format_rating(rating) }} / {{ region.numbers.format_rating(5.0) }}"><span {% if rating < 5 %}style="width: {{ (25 * (rating - 4))|round|int }}px;"{% endif %}></span></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </td>
            <td class="finished right-edge">
                <div>
                <label for="finished-game-{{ game.id }}">
                    <input
                        id="finished-game-{{ game.id }}"
                        class="finished-game"
                        type="checkbox"
                        title="I've finished playing '{{ game.name }}'"
                    >
                </label>
                </div>
            </td>
        </tr>
    {% endfor %}
    </tbody>
    <tbody class="hidden">
        <tr id="empty-row">
            <td colspan="8">&mdash; No games match your current filters &mdash;</td>
        </tr>
    </tbody>
    </table>
</article>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script type="text/javascript">
        require(["gamestradamus/play-list"], function(init) { init(); });
    </script>
{% endblock %}
