{% extends "gamestradamus/base.html" %}

{% block title %}Beta Survey{% endblock %}

{% block container %}
    <article class="survey">
        <p>
            When Gauge is released to the public, payment will be required for Premium
            service. As a bonus for helping out with our Beta, we are offering a 
            year of Premium service for all Beta users who complete a feedback survey.
        </p>
        <p>
            To receive your free year of Premium service, please fill out the survey 
            below.
        </p>
    </article>
{% endblock %}
